@import "../estilos/variables.scss";
@import "../estilos/generales.scss";
.tabla{
    overflow-x: auto;
    table{
        border-collapse: collapse;
        width: 100%;
        text-align: left;
        thead tr th,
        tbody tr td {
            padding: 15px 20px 15px 5px;
            border-bottom: solid 1px;
            border-color: black !important;
        }
    }
}
.mat-dialog-container {
    background-color: white;
    color: black;
}