*,
*::after,
*::before{
    box-sizing: border-box;
}
// body 
// imagenes
img{
    vertical-align: top;
    width: 100%;
}
//inputs
input[type="radio"],
input[type="checkbox"],
input[type="file"] {
    display: none;
}
a {
    text-decoration: none;
}
.mouse-hover {
    cursor: pointer;
}
// textos
h1, h2, h3, h4, h5, h6{
    margin-top: 0;
}
.display-{
    &1{
        font-weight: 700 !important;
        font-size: 64px !important;
    }
    &2{
        font-weight: 700 !important;
        font-size: 54px !important;
    }
    &3{
        font-weight: 700 !important;
        font-size: 44px !important;
    }
    &4{
        font-weight: 700 !important;
        font-size: 34px !important;
    }
    &5{
        font-weight: 700 !important;
        font-size: 20px !important;
    }
}
.text{
    &-centro{
        text-align: center !important;
    }
    &-derecha{
        text-align: right !important;
    }
    &-izquierda{
        text-align: left !important;
    }
}
p{
    line-height: 27px;
    margin: 0;
}
ul{
    padding: 0;
    margin: 0;
}

@each $tamanio, $valor in $dimensiones {
    @media (min-width: $valor) {
        @each $numero ,$espacio in $espacios {
            @if $valor != 0 {
                .m-#{$tamanio}-#{$numero} {
                    margin: #{$espacio} !important;
                }
                .ml-#{$tamanio}-#{$numero},
                .mx-#{$tamanio}-#{$numero} {
                    margin-left: #{$espacio} !important;
                }
                .mr-#{$tamanio}-#{$numero},
                .mx-#{$tamanio}-#{$numero} {
                    margin-right: #{$espacio} !important;
                }
                .mt-#{$tamanio}-#{$numero},
                .my-#{$tamanio}-#{$numero} {
                    margin-top: #{$espacio} !important;
                }
                .mb-#{$tamanio}-#{$numero},
                .my-#{$tamanio}-#{$numero} {
                    margin-bottom: #{$espacio} !important;
                }
                .p-#{$tamanio}-#{$numero} {
                    padding: #{$espacio} !important;
                }
                .pr-#{$tamanio}-#{$numero},
                .px-#{$tamanio}-#{$numero} {
                    padding-right: #{$espacio} !important;
                }
                .pl-#{$tamanio}-#{$numero},
                .px-#{$tamanio}-#{$numero} {
                    padding-left: #{$espacio} !important;
                }
                .pt-#{$tamanio}-#{$numero},
                .py-#{$tamanio}-#{$numero} {
                    padding-top: #{$espacio} !important;
                }
                .pb-#{$tamanio}-#{$numero},
                .py-#{$tamanio}-#{$numero} {
                    padding-bottom: #{$espacio} !important;
                }
            } @else {
                .m-#{$numero} {
                    margin: #{$espacio} !important;
                }
                .ml-#{$numero},
                .mx-#{$numero} {
                    margin-left: #{$espacio} !important;
                }
                .mr-#{$numero},
                .mx-#{$numero} {
                    margin-right: #{$espacio} !important;
                }
                .mt-#{$numero},
                .my-#{$numero} {
                    margin-top: #{$espacio} !important;
                }
                .mb-#{$numero},
                .my-#{$numero} {
                    margin-bottom: #{$espacio} !important;
                }
                .p-#{$numero} {
                    padding: #{$espacio} !important;
                }
                .pr-#{$numero},
                .px-#{$numero} {
                    padding-right: #{$espacio} !important;
                }
                .pl-#{$numero},
                .px-#{$numero} {
                    padding-left: #{$espacio} !important;
                }
                .pt-#{$numero},
                .py-#{$numero} {
                    padding-top: #{$espacio} !important;
                }
                .pb-#{$numero},
                .py-#{$numero} {
                    padding-bottom: #{$espacio} !important;
                } 
            }
        }
    }
}

@for $var from 1 to 6 {
    .borde-radio-#{$var} {
        border-radius: calc(#{$var} * 5px)!important;
    }
}
.borde-radio-circular {
    border-radius: 255px !important;
}


@each $num, $porcentaje in $tamanos {
    .w-#{$num}{
        width: #{$porcentaje} !important;
    }

    .h-#{$num}{
        width: #{$porcentaje} !important;
    } 
}

.d-{
    &block {
        display: block !important;
    }
    &flex {
        display: flex !important;
    }
    &inline {
        display: inline !important;
    }
    &inline-block {
        display: inline-block !important;
    }
    &inline-flex {
        display: inline-flex !important;
    }
    &inline-table {
        display: inline-table !important;
    }
    &none {
        display: none !important;
    }
}
.justify-content{
    &-around{
        justify-content: space-around !important;
    }
    &-between{
        justify-content: space-between !important;
    }
    &-start{
        justify-content: start !important;
    }
    &-center{
        justify-content: center !important;
    }
    &-end{
        justify-content: end !important;
    }
    &-evenly{
        justify-content: space-evenly !important;
    }
    @each $tamanio, $valor in $dimensiones {
        @media (min-width: $valor) {
            &-#{$tamanio}-around{
                justify-content: space-around !important;
            }
            &-#{$tamanio}-between{
                justify-content: space-between !important;
            }
            &-#{$tamanio}-start{
                justify-content: start !important;
            }
            &-#{$tamanio}-center{
                justify-content: center !important;
            }
            &-#{$tamanio}-end{
                justify-content: end !important;
            }
            &-#{$tamanio}-evenly{
                justify-content: space-evenly !important;
            }
        }
    }
}
.flex {
    &-wrap{
        flex-wrap: wrap !important;
    }
    &-columna{
        flex-direction: column;
    }
}
.item{
    &-centro{
        align-items: center;
    }
    &-inicio{
        align-items: flex-start;
    }
    &-fin{
        align-items: flex-end;
    }
    @each $tamanio, $valor in $dimensiones {
        @media (min-width: $valor) {
            &-#{$tamanio}-centro{
                align-items: center;
            }
            &-#{$tamanio}-inicio{
                align-items: flex-start;
            }
            &-#{$tamanio}-fin{
                align-items: flex-end;
            }
        }
    }
}
.posicion-{
    &relative {
        position: relative !important;
    }
    &fixed {
        position: fixed !important;
    }
    &absolute {
        position: absolute !important;
    }
    &static {
        position: static !important;
    }
}

@for $var from 1 to 3 {
    .z-index#{$var}{
        z-index: $var;
    }
}

.scroll-x {
    overflow-x: auto;
}