$fuente: 'Open Sans', sans-serif;

$btn-borde: '10px';

$dimensiones: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px
);

$tamanos: (
  25: 25%,
  50: 50%,
  75: 75%,
  100: 100%
);

$espacio: 1rem !default;
$espacios: (
  -9: -($espacio * 10),
  -8: -($espacio * 8),
  -7: -($espacio * 6),
  -6: -($espacio * 4.5),
  -5: -($espacio * 3),
  -4: -($espacio * 1.5),
  -3: -$espacio,
  -2: -($espacio * .5),
  -1: -($espacio * .25),
  0: 0,
  1: ($espacio * .25),
  2: ($espacio * .5),
  3: $espacio,
  4: ($espacio * 1.5),
  5: ($espacio * 3),
  6: ($espacio * 4.5),
  7: ($espacio * 6),
  8: ($espacio * 8),
  9: ($espacio * 10)
)