<div class="tabla">
    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Nombres</th>
                <th>Apellidos</th>
                <th>Identificacion</th>
                <th>Municipio</th>
                <th>Resguardo</th>
                <th>Tipo Saber</th>
                <th>Unidad de Cuidado</th>
                <th>Vereda</th>
                <th>Zona</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let pesona of listadoTabla">
                <td>{{pesona.id}}</td>
                <td>{{pesona.nombres}}</td>
                <td>{{pesona.apellidos}}</td>
                <td>{{pesona.identificacion}}</td>
                <td>{{pesona.municipio}}</td>
                <td>{{pesona.resguardo}}</td>
                <td>{{pesona.tipoSaber}}</td>
                <td>{{pesona.unidadCuidado}}</td>
                <td>{{pesona.vereda}}</td>
                <td>{{pesona.zona}}</td>
            </tr>
        </tbody>
    </table>
    <div class="d-flex justify-content-center mt-3">
        <p class="px-2 display-5" (click)="paginacion(false)">
            <
        </p>
        <p class="px-2 display-5">
            {{pagina}}
        </p>
        <p class="px-2 display-5" (click)="paginacion(true)">
            >
        </p>
    </div>
</div>
