.tabla{
    overflow-x: auto;
    table{
        border-collapse: collapse;
        width: 100%;
        text-align: left;
        thead tr th,
        tbody tr td {
            padding: 15px 20px 15px 5px;
            border-bottom: solid 1px;
            border-color: white !important;
        }
    }
}
.mapa{
    width: 100%;
    height: 100vh;
}